# ===========================================
# PostgreSQL Database Configuration
# ===========================================
# Database name & credentials
POSTGRES_DB=pharmacy_dwh
POSTGRES_USER=pharmacy_admin
POSTGRES_PASSWORD=changeme_in_production

# HOST = "localhost" untuk run dari WSL2 host
# HOST = "postgres" untuk run dari container (auto-overridden in compose)
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# ===========================================
# Application Settings
# ===========================================
ENVIRONMENT=development
LOG_LEVEL=INFO

# ===========================================
# ETL Settings
# ===========================================
SAMPLE_SIZE=100000
DATA_RAW_DIR=./data/raw
DATA_SAMPLE_DIR=./data/samples